ul.tab-title {
    margin: 0;
    padding: 0;
}

ul.tab-title > li {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

ul.tab-title > li.active {
    font-weight: bold;
}
/* tab ext */

div.tab{
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    border-color: #e6e6e6;
    margin: 10px 2px;
}

ul.tab-title {
    position: relative;
    left: 0;
    height: 30px;
    white-space: nowrap;
    font-size: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: all .2s;
    -webkit-transition: all .2s;
    background-color: #f2f2f2;
}



ul.tab-title > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-size: 12px;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: relative;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

ul.tab-title > li.active:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 31px;
    box-sizing: border-box;
    pointer-events: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #5FB878;
    background-color: inherit;
}

/* modal */

div.modal-bg{
    z-index:9999999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.modal{
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: 600px;
    margin: 30px auto;
    min-height: 100px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    background-clip: padding-box;
    background-color: #fff;
}

div.modal > div.modal-title{
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

div.modal > div.modal-title > a.close{
    position: absolute;
    right: 16px;
    cursor: pointer;
    font-size: 20px;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

div.modal > div.modal-content{
    padding: 15px;
}

div.modal > div.modal-footer{
    text-align: center;
    padding: 10px;
}

div.node-list li{
    cursor: pointer;
}
div.node-list li:hover{
    opacity:0.6;
}

div.seletor{
    display:inline-block;
    position: relative;
    cursor: pointer;
}

div.seletor ul.seletor-list{
    z-index: 1;
    background-color: #fff;
    outline: auto;
    position: absolute;
    left: 0;
    width: 160px;
    margin: 0;
}

div.seletor ul.seletor-list > li{
    background-color: #fff;
    padding: 5px;
}
div.seletor .tag-list{
    margin: 1px 0;
}
div.seletor .tag{
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #9C27B0;
    color: #ddd;
    padding: 0 1px;
}