html,
body {
    margin: 0;
    padding: 0;
}

#mountNode {
    width: 100%;
    height: 100%;
}



.file-handler {
    position: fixed;
    /* 要比reader高，否则会被遮住，最大z-index取决于父级的最大z-index */
    z-index: 1000;
    top: 0;
}

.menu {
    position: fixed;
    display: none;
    z-index: 999;
    top: 0;
    background: rgb(219, 233, 240);
}

.menu ul {
    list-style: none;
    margin: 5px;
    padding: 0;
}

.attr-bar,
.reader-bar,
.left-bar {
    position: fixed;
    z-index: 999;
    top: 24px;
    padding: 5px;
    background: rgb(220, 221, 221);
    max-width: 300px;
    /* max-height: 200px; */
}

.attr-bar {
    width: 280px;
}



.reader-bar {
    /* top: 60px; */
    right: 300px;
    border: 1px solid rgb(165, 76, 76);
}

.reader-bar .content {
    max-height: 500px;
    overflow: auto;
}

.attr-bar {
    right: 0;
}

.left-bar,
.attr-bar {
    font-size: 12px;
}

.search-bar ul,
.attr-bar ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    max-height: 200px;
    overflow: auto;

}

.search-bar ul li {
    /*超出部分隐藏*/
    overflow: hidden;
    /* 超出部分显示省略号 */
    text-overflow: ellipsis;
    /*规定段落中的文本不进行换行 */
    white-space: nowrap;
}

.highlight {
    font-weight: bold;
    color: rgb(255, 255, 60);
}

span.strong {
    font-weight: bold;
}

.node-detail {
    position: fixed;
    background: #eee;
    padding: 10px;
    border: #545454 1px solid;
    width: 500px;
    z-index: 999999;
}

.g6-tooltip {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    font-size: 12px;
    color: #545454;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 8px;
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
}